# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
sih/
.venv/

# Datasets
data/raw/
data/procesed/*.csv

# Generated outputs
outputs/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db