# Python
__pycache__/
*.py[cod]
*.pyo

# Datasets
data/
outputs/

# Virtual environments
venv/
env/
sih/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Local environment
.env